In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
import pandas as pd


# Create our Data Set. Due to i don't know yet how to import and autoread on gif files we do it manualy.

# in student and buys_pc 1 means yes
# in all ordering categories it's ascending
d={'Rec': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
   'age':[1,1,2,3,3,3,2,1,1,3,1,2,2,3,1,1,1,2,3,1],
   'income':[3,3,3,2,1,1,1,2,1,2,2,2,3,2,2,1,1,1,2,3],
   'student': [2,2,2,2,1,1,1,2,1,1,1,2,1,2,2,2,2,1,1,2],
   'cred_rat': [1,2,1,1,1,2,2,1,1,1,2,2,1,2,2,1,2,1,2,2],
   'buys_pc': [2,2,1,1,1,2,1,2,1,1,1,1,1,2,2,2,2,1,1,1]
  }
df = pd.DataFrame(data=d)
df = df.drop('Rec', axis=1)
df

    age  income  student  cred_rat  buys_pc
0     1       3        2         1        2
1     1       3        2         2        2
2     2       3        2         1        1
3     3       2        2         1        1
4     3       1        1         1        1
5     3       1        1         2        2
6     2       1        1         2        1
7     1       2        2         1        2
8     1       1        1         1        1
9     3       2        1         1        1
10    1       2        1         2        1
11    2       2        2         2        1
12    2       3        1         1        1
13    3       2        2         2        2
14    1       2        2         2        2
15    1       1        2         1        2
16    1       1        2         2        2
17    2       1        1         1        1
18    3       2        1         2        1
19    1       3        2         2        1

In [2]:
X = df.iloc[:,1:-1]
y = df.iloc[:,-1]

des_tree = DecisionTreeClassifier(max_depth=2, criterion='gini')
des_tree.fit(X, y)

print(X,'\n',y)

    income  student  cred_rat
0        3        2         1
1        3        2         2
2        3        2         1
3        2        2         1
4        1        1         1
5        1        1         2
6        1        1         2
7        2        2         1
8        1        1         1
9        2        1         1
10       2        1         2
11       2        2         2
12       3        1         1
13       2        2         2
14       2        2         2
15       1        2         1
16       1        2         2
17       1        1         1
18       2        1         2
19       3        2         2
 0     2
1     2
2     1
3     1
4     1
5     2
6     1
7     2
8     1
9     1
10    1
11    1
12    1
13    2
14    2
15    2
16    2
17    1
18    1
19    1
Name: buys_pc, dtype: int64

In [4]:
export_graphviz(des_tree, out_file='des.dot')

SyntaxError: invalid syntax (<ipython-input-5-534e66ef2660>, line 1)